#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import numpy as np
import pandas as pd
data_path = 'data_M3/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [3]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [4]:
df.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [5]:
df.groupby('Branch').Total.sum().sort_values(ascending=False).round(2)

Branch
C    110568.71
A    106200.37
B    106197.67
Name: Total, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [6]:
df.groupby(by=['City', 'Branch']).Total.sum().sort_values(ascending=False).round(2)

City       Branch
Naypyitaw  C         110568.71
Yangon     A         106200.37
Mandalay   B         106197.67
Name: Total, dtype: float64

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [7]:
invoices_by_category = df.groupby('Branch')['Product line'].value_counts()
invoices_by_category

Branch  Product line
A       Home and lifestyle        65
        Electronic accessories    60
        Sports and travel         59
        Food and beverages        58
        Fashion accessories       51
        Health and beauty         47
B       Sports and travel         62
        Fashion accessories       62
        Electronic accessories    55
        Health and beauty         53
        Home and lifestyle        50
        Food and beverages        50
C       Food and beverages        66
        Fashion accessories       65
        Electronic accessories    55
        Health and beauty         52
        Home and lifestyle        45
        Sports and travel         45
Name: count, dtype: int64

In [9]:
#—Ü–µ–π —Ä–æ–∑–≤'—è–∑–æ–∫ –≤–∑—è—Ç–æ –∑ –≤—ñ–¥–ø–æ–≤—ñ–¥–µ–π –ø—ñ—Å–ª—è –∑–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–Ω—è —Ñ–∞–π–ª—É –∑ –î–ó
invoices_by_category1 = pd.pivot_table(df, index='Branch', columns='Product line', aggfunc='size')
invoices_by_category1

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [53]:
#—Ü–µ–π —Ä–æ–∑–≤'—è–∑–æ–∫ –≤–∑—è—Ç–æ –∑ –≤—ñ–¥–ø–æ–≤—ñ–¥–µ–π –ø—ñ—Å–ª—è –∑–∞–≤–∞–Ω—Ç–∞–∂–µ–Ω–Ω—è —Ñ–∞–π–ª—É –∑ –î–ó
invoices_by_category1['Electronic accessories'].sort_values(ascending=False)[:1]

Branch
A    60
Name: Electronic accessories, dtype: int64

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

### –ü–∏—Ç–∞–Ω–Ω—è 1.
–Ø–∫—ñ 3 –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ —î —Ç–æ–ø–æ–≤–∏–º–∏ —É –º—ñ—Å—Ç–∞—Ö, —è–∫—ñ –º–∏ —Ä–æ–∑–≥–ª—è–¥–∞—î–º–æ?

In [18]:
df.groupby(by=['City','Product line'])['Product line'].value_counts()

City       Product line
Mandalay   Electronic accessories    55
           Fashion accessories       62
           Food and beverages        50
           Health and beauty         53
           Home and lifestyle        50
           Sports and travel         62
Naypyitaw  Electronic accessories    55
           Fashion accessories       65
           Food and beverages        66
           Health and beauty         52
           Home and lifestyle        45
           Sports and travel         45
Yangon     Electronic accessories    60
           Fashion accessories       51
           Food and beverages        58
           Health and beauty         47
           Home and lifestyle        65
           Sports and travel         59
Name: count, dtype: int64

In [12]:
top2_mandalay = df[df.City == 'Mandalay']['Product line'].value_counts()[:3]
top2_mandalay

Product line
Fashion accessories       62
Sports and travel         62
Electronic accessories    55
Name: count, dtype: int64

In [13]:
top2_naypyitaw = df[df.City == 'Naypyitaw']['Product line'].value_counts()[:3]
top2_naypyitaw

Product line
Food and beverages        66
Fashion accessories       65
Electronic accessories    55
Name: count, dtype: int64

In [14]:
top2_yangon = df[df.City == 'Yangon']['Product line'].value_counts()[:3]
top2_yangon

Product line
Home and lifestyle        65
Electronic accessories    60
Sports and travel         59
Name: count, dtype: int64

–ó–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –¥–∞–Ω–æ—ó –≤–∏–±—ñ—Ä–∫–∏ - –º–∏ –æ—Ç—Ä–∏–º–∞–ª–∏ —Ç–æ–ø 3 –ø–æ–ø—É–ª—è—Ä–Ω—ñ –≥—Ä—É–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –ø–æ –º—ñ—Å—Ç–∞–º.

### –ü–∏—Ç–∞–Ω–Ω—è 2.
–Ø–∫—ñ–π –≥—Ä—É–ø—ñ —Ç–æ–≤–∞—Ä—É –≤—ñ–¥–ø–æ–≤—ñ–¥–∞—é—Ç—å —Å–µ—Ä–µ–¥–Ω—ñ–π —Ç–∞ –Ω–∞–π–±—ñ–ª—å—à–∏–π —á–µ–∫ –ø–æ –æ–∫—Ä–µ–º–æ–º—É –º—ñ—Å—Ç—É?

In [24]:
df_mandalay = df[df.City == 'Mandalay'].groupby('Product line')['Total'].agg(['mean', 'max']).round(2)
df_mandalay

                          mean      max
Product line
Electronic accessories  310.03   942.45
Fashion accessories     264.73   874.12
Food and beverages      304.30   888.62
Health and beauty       376.99   922.64
Home and lifestyle      350.98  1022.49
Sports and travel       322.39   944.62

In [25]:
df_naypyitaw = df[df.City == 'Naypyitaw'].groupby('Product line')['Total'].agg(['mean', 'max']).round(2)
df_naypyitaw

                          mean      max
Product line
Electronic accessories  344.89   864.57
Fashion accessories     331.69  1042.65
Food and beverages      360.10  1034.46
Health and beauty       319.53   950.25
Home and lifestyle      308.79  1023.75
Sports and travel       350.27  1002.12

In [29]:
df_yangon = df[df.City == 'Yangon'].groupby('Product line')['Total'].agg(['mean', 'max']).round(2)
df_yangon

                          mean      max
Product line
Electronic accessories  305.29   931.04
Fashion accessories     320.25  1039.29
Food and beverages      295.92   932.34
Health and beauty       268.04   752.64
Home and lifestyle      344.88   951.82
Sports and travel       328.35   926.95

–ë–∞—á–∏–º–æ, —â–æ —É –º—ñ—Å—Ç—ñ 'Mandalay' –Ω–∞–π–±—ñ–ª—å—à—ñ —Å–µ—Ä–µ–¥–Ω—ñ —á–µ–∫–∏ –ø–æ –≥—Ä—É–ø—ñ —Ç–æ–≤–∞—Ä—ñ–≤ - –Ω–µ –ø–æ–≤—è–∑–∞–Ω—ñ –∑ —Ç–æ–ø–æ–≤–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤ –ø–æ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —á–µ–∫—ñ–≤.
–£ —ñ–Ω—à–∏—Ö –º—ñ—Å—Ç–∞—Ö —Å–ø–æ—Å—Ç–µ—Ä—ñ–≥–∞—î–º–æ –∑–≤—è–∑–æ–∫ –º—ñ–∂ —Ç–æ–ø –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ –ø–æ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —á–µ–∫—ñ–≤ —ñ –Ω–∞–π–±—ñ–ª—å—à–∏—Ö —Å–µ—Ä–µ–¥–Ω—ñ—Ö —á–µ–∫—ñ–≤.

### –ü–∏—Ç–∞–Ω–Ω—è 3.
–Ø–∫–æ–º—É —Å–ø–æ—Å–æ–±—É –æ–ø–ª–∞—Ç–∏ –Ω–∞–¥—É—é—Ç—å –ø–µ—Ä–µ–≤–∞–≥—É —á–æ–ª–æ–≤—ñ–∫–∏ —Ç–∞ –∂—ñ–Ω–∫–∏?

In [31]:
df_gender = df.groupby('Gender').Payment.value_counts()
df_gender

Gender  Payment
Female  Cash           178
        Credit card    163
        Ewallet        160
Male    Ewallet        185
        Cash           166
        Credit card    148
Name: count, dtype: int64