#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [2]:
import numpy as np
import pandas as pd
data_path = 'data_M3/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [3]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [4]:
df.head(3)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [5]:
df.groupby('Branch').Total.sum().sort_values(ascending=False).round(2)

Branch
C    110568.71
A    106200.37
B    106197.67
Name: Total, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [6]:
df.groupby(by=['City', 'Branch']).Total.sum().sort_values(ascending=False).round(2)

City       Branch
Naypyitaw  C         110568.71
Yangon     A         106200.37
Mandalay   B         106197.67
Name: Total, dtype: float64

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [7]:
invoices_by_category = df.groupby('Branch')['Product line'].value_counts()
invoices_by_category

Branch  Product line
A       Home and lifestyle        65
        Electronic accessories    60
        Sports and travel         59
        Food and beverages        58
        Fashion accessories       51
        Health and beauty         47
B       Sports and travel         62
        Fashion accessories       62
        Electronic accessories    55
        Health and beauty         53
        Home and lifestyle        50
        Food and beverages        50
C       Food and beverages        66
        Fashion accessories       65
        Electronic accessories    55
        Health and beauty         52
        Home and lifestyle        45
        Sports and travel         45
Name: count, dtype: int64

In [9]:
#цей розв'язок взято з відповідей після завантаження файлу з ДЗ
invoices_by_category1 = pd.pivot_table(df, index='Branch', columns='Product line', aggfunc='size')
invoices_by_category1

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [53]:
#цей розв'язок взято з відповідей після завантаження файлу з ДЗ
invoices_by_category1['Electronic accessories'].sort_values(ascending=False)[:1]

Branch
A    60
Name: Electronic accessories, dtype: int64

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

### Питання 1.
Які 3 групи товарів є топовими у містах, які ми розглядаємо?

In [18]:
df.groupby(by=['City','Product line'])['Product line'].value_counts()

City       Product line
Mandalay   Electronic accessories    55
           Fashion accessories       62
           Food and beverages        50
           Health and beauty         53
           Home and lifestyle        50
           Sports and travel         62
Naypyitaw  Electronic accessories    55
           Fashion accessories       65
           Food and beverages        66
           Health and beauty         52
           Home and lifestyle        45
           Sports and travel         45
Yangon     Electronic accessories    60
           Fashion accessories       51
           Food and beverages        58
           Health and beauty         47
           Home and lifestyle        65
           Sports and travel         59
Name: count, dtype: int64

In [12]:
top2_mandalay = df[df.City == 'Mandalay']['Product line'].value_counts()[:3]
top2_mandalay

Product line
Fashion accessories       62
Sports and travel         62
Electronic accessories    55
Name: count, dtype: int64

In [13]:
top2_naypyitaw = df[df.City == 'Naypyitaw']['Product line'].value_counts()[:3]
top2_naypyitaw

Product line
Food and beverages        66
Fashion accessories       65
Electronic accessories    55
Name: count, dtype: int64

In [14]:
top2_yangon = df[df.City == 'Yangon']['Product line'].value_counts()[:3]
top2_yangon

Product line
Home and lifestyle        65
Electronic accessories    60
Sports and travel         59
Name: count, dtype: int64

За допомогою даної вибірки - ми отримали топ 3 популярні групи товарів по містам.

### Питання 2.
Якій групі товару відповідають середній та найбільший чек по окремому місту?

In [24]:
df_mandalay = df[df.City == 'Mandalay'].groupby('Product line')['Total'].agg(['mean', 'max']).round(2)
df_mandalay

                          mean      max
Product line
Electronic accessories  310.03   942.45
Fashion accessories     264.73   874.12
Food and beverages      304.30   888.62
Health and beauty       376.99   922.64
Home and lifestyle      350.98  1022.49
Sports and travel       322.39   944.62

In [25]:
df_naypyitaw = df[df.City == 'Naypyitaw'].groupby('Product line')['Total'].agg(['mean', 'max']).round(2)
df_naypyitaw

                          mean      max
Product line
Electronic accessories  344.89   864.57
Fashion accessories     331.69  1042.65
Food and beverages      360.10  1034.46
Health and beauty       319.53   950.25
Home and lifestyle      308.79  1023.75
Sports and travel       350.27  1002.12

In [29]:
df_yangon = df[df.City == 'Yangon'].groupby('Product line')['Total'].agg(['mean', 'max']).round(2)
df_yangon

                          mean      max
Product line
Electronic accessories  305.29   931.04
Fashion accessories     320.25  1039.29
Food and beverages      295.92   932.34
Health and beauty       268.04   752.64
Home and lifestyle      344.88   951.82
Sports and travel       328.35   926.95

Бачимо, що у місті 'Mandalay' найбільші середні чеки по групі товарів - не повязані з топовими категоріями товарів по кількості чеків.
У інших містах спостерігаємо звязок між топ категоріями по кількості чеків і найбільших середніх чеків.

### Питання 3.
Якому способу оплати надують перевагу чоловіки та жінки?

In [31]:
df_gender = df.groupby('Gender').Payment.value_counts()
df_gender

Gender  Payment
Female  Cash           178
        Credit card    163
        Ewallet        160
Male    Ewallet        185
        Cash           166
        Credit card    148
Name: count, dtype: int64